*{
    margin: 0;
    padding: 0;
    box-sizing: border_box;
    font-family: "Poppins", sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(  #e66465, #9198e5);
}
.wrapper
{
    width: 700px;
    background: #fff;
    border-radius: 5px;
    padding: 25px 25px 30px;
}

.wrapper h2
{
    color:#e66465;
    font-size: 28px;
    text-align: center;
    
}
.wrapper h3 {
    color:#e66465;
    font-size: 20px;
    text-align: center;
}
.wrapper h4
{
    text-align: center;
    font-size: 14px;
}

.wrapper img
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    width: 100px;
   
}
.wrapper textarea
{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    height: 400px;
}
.wrapper .button1 input
{
    margin-left: auto;
    width: 10%;
    display: block;
    float: right;
}
.wrapper .button2 input
{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: block;
}
.wrapper .button3 input
{
    margin-right: auto;
    width: 10%;
    display: block;
    float: left;

}

